body{
  margin:0px;
  background-color: white;
  }

  .container{
    margin-top: 100px;
  }

  .text-custom{
  color: #CCCBCB !important;
  }


  .social-link {
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666;
      border-radius: 50%;
      transition: all 0.3s;
      font-size: 0.9rem;
    }
    
    .social-link:hover,
    .social-link:focus {
      background: #ddd;
      text-decoration: none;
      color: #555;
    }
    .custom{
        border-bottom: 3px #9D84B7 solid;
        padding-bottom: 4%;
    }
    .cus{
        margin-top: 50px;
    }

    .butt{
      background-color: #9D84B7;
      color: #B3E8E5;
      border: none;
      width:fit-content;
      padding: 7px 40px;
      text-decoration: none;
      margin-top: 10%;
      margin-left: 70%;
      border-radius: 50px;
    }

    .butt:hover{
    background-color: #71ccc7cd;
    color: #9D84B7;
    }

    .row{
      justify-content: center;
     
     
    }
    
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      padding-right: 50px;
      background-color: #92b1e065;
    }
    
    nav a{
      color: #8461a8;
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      margin: 20px;
      font-size: 22px;
      
    }


.num{
  position: relative;
}


.sub{
  position: absolute;
  top: -5px;
  right: 24px;
  padding: 5px;
  color: #9D84B7;
}


    #footerdiv{
      background-color: #7997c565;
      color: #653B88;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5% 0;
  }

  
  footer img {
      width: 70%;
  }


  #footerdiv a{
     
      color: #653B88;
      text-decoration: none;
      font-size: larger;
      font-weight: bold;
      margin: 1% 0;
  }


.fa-brands {
    font-size: 40px;
    margin: 0 2%;
    
}


.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}


.shadow-sm {
  box-shadow: 0 .125rem .25rem #9679b5!important;
}
