nav {
    background-color: #92b1e065;
    width: 100%;
}
nav img {
    width: 7%;
}

nav span {
    color: #8461a8;
    margin-left: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

nav span:hover{
    color: #56a5a1;
}

a{
    color: #8461a8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}


a:hover{
    color: #56a5a1;
}


#parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    text-align: center;
}

.container div {
    border: solid 1px #9D84B7;
    border-radius: 10px;
    margin: 5%;
    padding: 2%;
    text-align: center;
    display: inline-block;
}


.fa-solid{
    font-size: 100px;
}


.container a {
    color: #9D84B7;
    text-decoration: none;
}


.container a:hover {
    color: #71ccc7cd;
    text-decoration: none;
}

table{
    border-collapse: collapse;
    margin: auto;
}

th{
    padding: 20px 15px;
}

td{
    text-align: center;
    border-top: 1px solid #71ccc7cd;
    border-bottom: 1px solid #71ccc7cd;
    padding: 20px 0;
}

img {
    width:100px;
}

#title{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}