/* ----------------- HEADER STYLE ----------------- */

/* @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500); */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 50px;
    background-color: #92b1e065;
  }
  

  nav a{
    color: #8461a8;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 22px;
    
  }


.head{
    width: fit-content;
    margin-left: 20%;
    margin-top: 7%;
    text-align: center;
}


/* ----------------- BODY STYLE ----------------- */
#categories-h1{
    color: #561F8F;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;

}


#categories{
    height: 50vh;
    width: 90%;
    display: flex;
    /* flex-direction: row; */
    margin-bottom: 170px;
    margin-left: 6%;
}


#categories a {
    font-family: 'Times New Roman', Times, serif;

   color: #000;
   height: 100%;
   padding-top: 10%;
   font-weight: bold;
}


#cat1:hover{
    animation : pulse 2s ; 
}


#cat2:hover{
    animation : pulse 2s ; 
}


#cat3:hover{
    animation : pulse 2s ; 
}


#cat4:hover{
    animation : pulse 2s ; 
}


#cat1{
    background-image: url('../Images/impressionism-cover.PNG');
    background-repeat: no-repeat;
    background-size: cover;
   
}


#cat2{
    background-image: url('../Images/pop-up-cover.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
}


#cat3{
    background-image: url('../Images/Abstract-cover.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}


#cat4{
    background-image: url('../Images/Abstract-cover.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}


h4{
    height: 90px;
}


#discount-h1{
    color: #561F8F;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 50px;
}


#discount{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 200px; */
    height: 80vh;
}



#discount div h4, #discount div p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    /* color: #15778d; */
}


#discount div p {
    font-size: 20px;
}


#carouselExampleIndicators{
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}


#seemore{
    margin-bottom: 150px;
    margin-left: 3%;
    padding-top: 4%;
    text-align: center;
    font-size: 23px;
    
}


#seemore a{
    color: #8461a8;
}


/* ---- GENERAL STYLE ---- */
#headerh1{
    margin-bottom: 30px;
    font-size: 3.2rem;
}


.headerp{
    font-size: 20px;
    font-weight: 600;
}


.button{
    border: none;
    padding: 10px 25px;
    display: block;
    width:fit-content;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}


#price_befor{ 
    color: #614a7dc0;
    font-size: x-large;
    text-decoration: line-through;
    margin: 0;
}


#price_after{
    color: #3DB0CA; 
    font-size:30px;
    font-weight: bold;
}


#dis{
    background-color: #9D84B7;
    color: #B3E8E5;
    text-align: center;
    width: 100%;
    height: 10%;
    border: none;
    border-radius: 50px;
    margin-left: 6%;
}


#dis:hover{
    cursor: pointer;
    background-color: #71ccc7cd;
    color: #9D84B7;
}


.fa-brands {
    font-size: 50px;
    margin: 0 2%;
    
}


.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    
}


@keyframes pulse {
    from {
        transform : scale(1);
        opacity   : 1;
    }
    50% {
        transform : scale(0.75);
        opacity   : 0.25;
    }
    to {
        transform : scale(1);
        opacity   : 1;
    }
}


#img1{
    background-image: url(https://d1atqi1n69j100.cloudfront.net/image/2017/7942/bs_b_hero_image/general/15130971555749.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#img2{
    background-image: url(https://cdn.discordapp.com/attachments/944998982449528843/988589123537367050/pexels-karolina-grabowska-4862892.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#img3{
    background-image: url(https://www.moodfabrics.com/media/catalog/product/cache/97db670f3df31818ced9c267af3eee34/3/1/314012.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.num{
    position: relative;
}


.sub{
    position: absolute;
    top: -5px;
    right: 24px;
    padding: 5px;
    color: #9D84B7;
}


/* ------------------------------------------------------ */


.service-24 {
    font-family: 'Times New Roman', Times, serif;
      color: #8d97ad;
    font-weight: 300;
  }
  

.service-24 h2, .service-24 h6 {
    color: #561F8F;
  }
  

  .service-24 .card.card-shadow {
      -webkit-box-shadow: 0px 0px 20px #71ccc7cd;
      box-shadow: 0px 5px 20px #71ccc7cd;
  }
  

  .service-24 a {
      text-decoration: none;
  }
  

  .service-24 .card-hover:hover {
      background: #bba3d5;
      background: -webkit-linear-gradient(legacy-direction(to right), #bba3d5 0%, #785f92 100%);
      background: -webkit-gradient(linear, left top, right top, from(#bba3d5), to(#bba3d5));
      background: -webkit-linear-gradient(left, #bba3d5 0%, #785f92 100%);
      background: -o-linear-gradient(left, #bba3d5 0%, #bba3d5 100%);
      background: linear-gradient(to right, #bba3d5 0%, #785f92 100%);
  }
  
  
  .service-24 .card-hover:hover .bg-success-grediant {
      color: #ffffff;
      text-fill-color: #ffffff;
      -webkit-text-fill-color: #ffffff;
  }
  

  .service-24 .card-hover:hover .ser-title {
      color: #ffffff;
  }
  
  
  .service-24 .bg-success-grediant {
      background: #9D84B7;
      background: -webkit-linear-gradient(legacy-direction(to right), #9D84B7 0%, #785f92 100%);
      background: -webkit-gradient(linear, left top, right top, from(#9D84B7), to(#785f92));
      background: -webkit-linear-gradient(left, #9D84B7 0%, #785f92 100%);
      background: -o-linear-gradient(left, #9D84B7 0%, #785f92 100%);
      background: linear-gradient(to right, #9D84B7 0%, #785f92 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      font-size: 50px;
  }

  
  .service-24 .wrap-service-24 .card {
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out;
      -webkit-transition: 0.3s ease-out;
  }
  

  .service-24 .wrap-service-24 .card:hover {
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
  }
  
  
  /* ----------------- FOOTER STYLE -----------------*/
#footerdiv{
    background-color: #7997c565;
    color: #653B88;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}


footer img {
    width: 200px;
}


#footerdiv a{
   
    color: #653B88;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    margin: 1% 0;
}


.fa-brands {
    font-size: 50px;
    margin: 0 2%;
}

  /*----------------------------------------------------------------------------- */
  .list-section {
    background-color: #f5f5f5;
  }
  

  .list-box {
    overflow: hidden;
    letter-spacing: 0.5px;
  }
  

  .list-box .content h3 {
    display: block;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 4px;
  }
  

  .list-box .content p {
    margin-bottom: 0px;
    opacity: 0.75;
  }
  

  .list-box .list-icon i {
    display: block;
    font-size: 24px;
    margin-right: 15px;
    color: #937DC2;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 60px;
    border: 2px #937DC2 dotted;
    border-radius: 999px;
  }
  

  /* ----------------------------------------------------------------------------- */

  .row 
  {
    justify-content: center;
  }


.arr{
    margin: 20px auto;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}


@keyframes down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30%);
    }
}


.arr{
    animation : down 1.5s linear infinite; 
}