@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



nav,.tab1, .tab2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding-right: 50px;
	background-color: #92b1e065;
  }
  
nav a{
	color: #8461a8;
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif;
	margin: 20px;
	font-size: 22px;
	
  }

.error-icon,
.error-text {
	display: none;
}
html {
	
	font-family: 'Poppins', sans-serif;
}
#intro {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
}
.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 0 30px;
	max-width: 1300px;
	margin: 0 auto;
}

.right-col {
	flex: 1;
}

.h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 33px;
    font-weight: bolder;
    color: #653B88;
    font-size: xx-large;
	font-weight: 700;
}

 .form-container {
	background-color: #ddc5f4b8;
	padding: 30px;
	box-shadow: 10 20px #ddc5f48b;
}

.field-group {
	position: relative;
	margin-bottom: 25px;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 10px;
	color: #3e3c49ad;
}

 input,
 button[type = submit] {
	width: 100%;
	height: 60px;
	border: 1.3px solid hsl(246, 25%, 77%);
	padding-left: 20px;
	outline: none;
	color: hsl(249, 10%, 26%);
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
}

 input:focus {
	border: 1.5px solid hsl(249, 10%, 26%);
}

#login{
	background-color: #71ccc7cd;
	box-shadow:0 0 4px 4px #71ccc7cd;
	color: #9D84B7;
	margin-top: 15px;
	font-size: 15px;
	width:fit-content;
	border: none;
	padding: 7px 40px;
	font-weight: 500;
    margin-left: 35%;
}

#login:hover{
	background-color: #9D84B7;
	box-shadow:0 0 4px 4px #9D84B7;
    color: #B3E8E5;
	font-weight: 500;

}

.error-text {
	text-align: right;
	bottom: 0;
	right: 0;
	font-size: 14px;
	color: hsl(0, 100%, 74%);
	font-weight: 700;
}

.error-icon {
	position: absolute;
	top: 0;
	right: 2%;
	top: 33%;
}

.field-group.error .error-text,
.field-group.error .error-icon {
	display: block;
}

.field-group.error input {
	border: 2px solid hsl(0, 100%, 74%);
}

@media only screen and (min-width: 1000px) {
	#intro {
		background-image: url(https://account.artwounds.com/templates/bredh-moon/img/header/h_bg_02.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.container {
		flex-direction: row;
	}

	.right-col {
		max-width: 500px;
	}

	 .form-container {
		padding: 40px;
	}

	input::placeholder,
	input {
		font-size: 14px;
		height: 40px;
	}

}

#footerdiv{
	background-color: #7997c565;
	color: #653B88;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5% 0;
}

footer img {
	width: 70%;
}

#footerdiv a{
	color: #653B88;
	text-decoration: none;
	font-size: larger;
	font-weight: bold;
	margin: 1% 0;
}

.fa-brands {
    font-size: 50px;
    margin: 0 2%; 
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}