body{
    margin: 0;
    background-color: #eaeaea;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 50px;
    background-color: #92b1e065;
  }
  
  nav a{
    color: #8461a8;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 22px;
    
  }

.board{
    background-color: white;
    width: 75%;
    margin: 30px auto;
    padding: 30px 60px;
}

#parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
}

#parent div {
    width: 40%;
}

#parent div img {
    width: 100%;
}

h4 {
    color: #0F848C;
}

#price{
    color: #3DB0CA;
}

#addtocart{
    background-color: #9D84B7;
    color: #B3E8E5;
    display: block;
    text-align: center;
    color: white;
    border: none;
    width: 50%;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 3%;
    text-decoration: none;
}

#addtocart:hover{
    cursor: pointer;
    background-color: #71ccc7cd;
    color: #9D84B7;
}

hr {
    background-color: #CCC;
}

#addreview {
    border: #CCC 1px solid;
    padding: 2%;
    margin: 0 2%;
}

#addreview h3 {
    color: #3092a9cf;
}


textarea {
    width: 80%;
    height: 20vh;
    color: #83bac7cd;
}

.Reviews{
    color: #653B88;
}

/* Start Users Review */
#revs {
    border: hsla(192, 31%, 60%, 0.695) 1px solid;
    padding: 0.5% 2%;
    margin: 0 2%;
    width: 78%;
}

#revs i {
    border: #3DB0CA 1px solid;
    border-radius: 100%;
    padding: 5px;
}

#revs span{
    font-size: 19px;
    font-weight: bold;
    color: #9D84B7;
}
/* End Users Review */

#price_befor{ 
    color: #9D84B7;
    font-size: x-large;
    text-decoration: line-through;
    margin: 0;
}

#footerdiv{
    background-color: #7997c565;
    color: #653B88;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
footer img {
    width: 70%;
}
#footerdiv a{
   
    color: #653B88;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    margin: 1% 0;
}
.fa-brands {
    font-size: 50px;
    margin: 0 2%;
    
}


.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.num{
    position: relative;
}


.sub{
    position: absolute;
    top: -5px;
    right: 24px;
    padding: 5px;
    color: #9D84B7;
}