/* --------------------------- Navbar Section Starts--------------------------- */
nav {
    background-color: #92b1e065;
    width: 100%;
}
nav img {
    width: 7%;
}

nav span {
    color: #8461a8;
    margin-left: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

nav span:hover{
    color: #56a5a1;
}

a{
    color: #8461a8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}


a:hover{
    color: #56a5a1;
}


#parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------- Navbar Section Ends --------------------------- */


/* -------------------------------- Start Admin Login CSS -------------------------------- */
.container div {
    border: solid 1px #9D84B7;
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    padding-top: 4%;
    box-shadow:  2px 2px 10px #9D84B7;
}

h2{
    text-align: center;
    padding-bottom: 5%;
}

.col-2{
    margin-left: 20%;
}

.error-icon,
.error-text {
    display: none;
    justify-content: center;
}

.error-text {
    margin-left: 30%;
	font-size: 17px;
	color: rgba(255, 0, 0, 0.747);
	font-weight: 500;
}

.error-icon {
	position: absolute;
	top: 0;
	right: 2%;
	top: 33%;
    justify-content: center;
}

#login{
    background-color: #9D84B7;
    color: #71ccc7cd;
    margin-top: 5%;
    margin-bottom: 25px;
    margin-left: 40%;
    box-shadow:0 0 4px 4px #9D84B7;
    border: none;
    width: 20%;
}

#login:hover{
    background-color: #71ccc7cd;
    color: #9D84B7;
    box-shadow:0 0 4px 4px #71ccc7cd;
}

/* -------------------------------- End Admin Login CSS -------------------------------- */