nav {
    background-color: #92b1e065;
    width: 100%;
}
nav img {
    width: 7%;
}

nav span {
    color: #8461a8;
    margin-left: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

nav span:hover{
    color: #56a5a1;
}

a{
    color: #8461a8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}


a:hover{
    color: #56a5a1;
}


#parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    text-align: center;
}

.container div {
    border: solid 1px #9D84B7;
    border-radius: 10px;
    margin: 5%;
    padding: 2%;
    text-align: center;
    display: inline-block;
}


.fa-solid{
    font-size: 100px;
}


.container a {
    color: #9D84B7;
    text-decoration: none;
}


.container a:hover {
    color: #71ccc7cd;
    text-decoration: none;
}

table{
    border-collapse: collapse;
    margin: auto;
}

th{
    padding: 20px 15px;
}

td{
    text-align: center;
    border-top: 1px solid #71ccc7cd;
    border-bottom: 1px solid #71ccc7cd;
    padding: 20px 0;
}

img {
    width:100px;
}

#title{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

/* -------------------------------- Start Admin Login CSS -------------------------------- */
.container div {
    border:solid black 1px;
    width: 80%;
    margin-top: 100px;
    border-radius: 0;
}
h1{
margin-bottom: 50px;
}
.error-icon,
.error-text {
    display: none;
}

#login{
    /* letter-spacing: 3px; */
    background-color: #9D84B7;
    color: #71ccc7cd;
    margin-top: 20px;
    box-shadow:0 0 4px 4px #9D84B7;
    border: none;
    width: 20%;
}
#login:hover{
    background-color: #71ccc7cd;
    color: #9D84B7;
    box-shadow:0 0 4px 4px #71ccc7cd;

}
#i11, #i22 {
    width: 25px;
}
/* -------------------------------- End Admin Login CSS -------------------------------- */